{
  "extends": ["standard", "plugin:prettier/recommended", "plugin:react/recommended"],
  "plugins": ["prettier", "react", "react-native"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2019,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "react-native/react-native": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error"
    // "import/order": [
    //   "warn",
    //   {
    //     "groups": ["builtin", "external", "parent"],
    //     "pathGroups": [
    //       {
    //         "pattern": "@components/**",
    //         "group": "parent",
    //         "position": "before"
    //       },
    //       {
    //         "pattern": "@constants/**",
    //         "group": "parent",
    //         "position": "before"
    //       }
    //     ],
    //     "newlines-between": "always",
    //     "alphabetize": {
    //       "order": "asc" /* sort in ascending order. Options: ['ignore', 'asc', 'desc'] */,
    //       "caseInsensitive": true /* ignore case. Options: [true, false] */
    //     }
    //   }
    // ]
  }
}
